#### **`Pandas`**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randint(1, 100, (3, 2)), index=[
                  "Row1", "Row2", "Row3"], columns=["Col1", "Col2"])
# print(df)
df.head()

      Col1  Col2
Row1    33    73
Row2    64    73
Row3     9    15

In [3]:
# export as a CSV file
df.to_csv("First.csv")

In [4]:
# Accessing elements
# (1) .loc (2) .iloc
x = df.loc['Row1'].head()
print(x)
type(x)

Col1    33
Col2    73
Name: Row1, dtype: int64

pandas.core.series.Series

In [5]:
# importing boston dataset
from pandas import read_csv

# Convert to DataFrame
column_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM',
                'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
boston_dataFrame = read_csv(
    'housing.csv', header=None, delimiter=r"\s+", names=column_names)

boston_dataFrame.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [6]:
boston_dataFrame.shape

(506, 14)