![](one_hot_encoding_1.png)

![](one_hot_encoding_1.jpg)

In [83]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [84]:
df = pd.read_csv("homeprices.csv")
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [85]:
df.town.unique()

array(['monroe township', 'west windsor', 'robinsville'], dtype=object)

In [86]:
dummies = pd.get_dummies(df.town)
dummies.head()

   monroe township  robinsville  west windsor
0             True        False         False
1             True        False         False
2             True        False         False
3             True        False         False
4             True        False         False

One hot encoding

In [87]:
df = pd.concat([df, dummies], axis='columns')
df = df.drop(['town'], axis=1)
df.head()

   area   price  monroe township  robinsville  west windsor
0  2600  550000             True        False         False
1  3000  565000             True        False         False
2  3200  610000             True        False         False
3  3600  680000             True        False         False
4  4000  725000             True        False         False