In [53]:
# Make the following Dataframe by using pandas.

import pandas as pd
import numpy as np

data = [['A', 21, 31, np.nan, 46],
        ['B', np.nan, 32, np.nan, 47],
        ['C', 22, 33, np.nan, np.nan],
        ['D', 4, 34, np.nan, 48],
        ['E', np.nan, 35, np.nan, 49]]

df = pd.DataFrame(data)
df

   0     1   2   3     4
0  A  21.0  31 NaN  46.0
1  B   NaN  32 NaN  47.0
2  C  22.0  33 NaN   NaN
3  D   4.0  34 NaN  48.0
4  E   NaN  35 NaN  49.0

In [54]:
# Write the functions to see the how many NaN values are in the entire Dataframe?

def count_null_values(df):
    null_values = df.isnull().sum()
    return null_values.sum()


print(count_null_values(df))

8

In [55]:
# Clean the NaN values using Forward fill, Backward fill, ‘0’ Fill

def clean_forward_fill(df):
    df = df.fillna(method='ffill')
    return df


def clean_backward_fill(df):
    df = df.fillna(method='bfill')
    return df


def clean_zero_fill(df):
    df = df.fillna(0)
    return df


fill_nan_ffill = clean_forward_fill(df)
fill_nan_bfill = clean_backward_fill(df)
fill_nan_0 = clean_zero_fill(df)

print(fill_nan_ffill, end='\n\n')
print(fill_nan_bfill, end='\n\n')
print(fill_nan_0)

   0     1   2   3     4
0  A  21.0  31 NaN  46.0
1  B  21.0  32 NaN  47.0
2  C  22.0  33 NaN  47.0
3  D   4.0  34 NaN  48.0
4  E   4.0  35 NaN  49.0

   0     1   2   3     4
0  A  21.0  31 NaN  46.0
1  B  22.0  32 NaN  47.0
2  C  22.0  33 NaN  48.0
3  D   4.0  34 NaN  48.0
4  E   NaN  35 NaN  49.0

   0     1   2    3     4
0  A  21.0  31  0.0  46.0
1  B   0.0  32  0.0  47.0
2  C  22.0  33  0.0   0.0
3  D   4.0  34  0.0  48.0
4  E   0.0  35  0.0  49.0

C:\Users\subod\AppData\Local\Temp\ipykernel_20216\3394032433.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill')
C:\Users\subod\AppData\Local\Temp\ipykernel_20216\3394032433.py:9: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='bfill')